@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-R.ttf');
}
@font-face {
  font-family: 'UbuntuLight';
  src: url('../fonts/Ubuntu-L.ttf');
}
@font-face {
  font-family: 'UbuntuBold';
  src: url('../fonts/Ubuntu-B.ttf');
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu';
  font-size: 16px;
  color: #000;
  background: #fff;
}
address {
  font-style: normal;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.clearfix {
  clear: both;
}
.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.container-lg {
  width: 1400px;
  margin: 0 auto;
  position: relative;
}
.block1 {
  background: url('../img/block1-bg.jpg') no-repeat center top #ffffff;
  min-height: 898px;
  overflow-x: hidden;
}
.block1 .container-lg {
  padding-top: 20px;
}
.block1 .logo {
  display: block;
  width: 195px;
  height: 32px;
  margin-top: 10px;
  background: url('../img/logo.png') no-repeat center center;
}
.block1 .top-title {
  width: 506px;
  margin: 0;
  margin-top: 12px;
  margin-left: 25px;
  font-family: 'UbuntuBold';
  font-size: 18px;
}
.block1 .btn-call-top {
  display: block;
  width: 201px;
  height: 40px;
  padding-top: 12px;
  background: url('../img/btn-call-top.png') no-repeat center center;
  text-align: center;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 1px 0px #333;
  font-family: 'UbuntuBold';
}
.block1 .btn-call-top:active {
  background: url('../img/btn-call-top-h.png') no-repeat center center;
}
.block1 .top-contacts {
  margin-left: 55px;
}
.block1 .top-contacts a {
  display: block;
  margin-top: 10px;
  font-family: 'UbuntuBold';
  font-size: 19px;
  color: #000;
  text-decoration: none;
}
.block1 .top-contacts a,
.block1 .top-contacts .phones {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}
.block1 .top-contacts .phones {
  margin-top: -10px;
  margin-left: 25px;
  text-align: center;
  font-family: 'UbuntuBold';
}
.block1 .top-contacts .phone {
  margin: 2px 0;
  font-size: 22px;
}
.block1 .top-contacts .phone span {
  font-size: 12px;
  margin-right: 5px;
}
.block1 .block-title {
  margin: 0;
  margin-top: 110px;
  text-align: center;
  font-family: 'UbuntuBold';
  font-size: 32px;
  text-shadow: 1px 1px 0 #000;
  color: #fff;
  text-transform: uppercase;
}
.block1 .block-title span {
  padding: 7px 15px;
  background: #267ddd;
}
.block1 .action {
  top: 130px;
  left: -20%;
  position: absolute;
}
.block1 .form-wrapper {
  width: 870px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  padding: 10px 40px 40px;
  background: rgba(0, 0, 0, 0.88);
}
.block1 .desc {
  width: 65%;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
}
.block1 .counter-wrapper {
  width: 35%;
  margin-top: 25px;
  padding-left: 20px;
}
.block1 .counter-wrapper strong {
  display: block;
  width: 251px;
  color: #fff;
  font-size: 19px;
  line-height: 23px;
  font-family: 'UbuntuBold';
  padding: 5px;
  background: #e81414;
}
.block1 .counter {
  margin-top: 20px;
  width: 263px;
  height: 102px;
  background: url('../img/counter-bg.png') no-repeat center center;
}
.block1 .counter .counter-text {
  padding: 23px 1px;
  font-size: 42px;
  font-weight: lighter;
  color: #e81414;
  float: left;
}
.block1 .counter .hours,
.block1 .counter .seconds {
  margin-left: 20px;
}
.block1 .counter .minutes {
  margin-left: 22px;
}
.block1 .arrow-red {
  width: 127px;
  height: 32px;
  margin: 25px auto;
  background: url('../img/arrow-down-red.png') no-repeat center center;
}
.block1 .engine {
  position: absolute;
  z-index: 1;
}
.block1 .engine1 {
  left: 55px;
  bottom: 90px;
}
.block1 .engine2 {
  right: 70px;
  bottom: 130px;
}
.block1 .girl {
  position: absolute;
  height: 501px;
  width: 341px;
  top: 202px;
  right: -305px;
  background: url('../img/girl-bg.png') no-repeat center center;
}
.block1 .form-block1 {
  text-align: center;
  width: 768px;
  position: relative;
  margin: 10px auto 0;
  padding: 20px 15px 10px;
  background: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  z-index: 10;
}
.block1 .form-block1 .form-title {
  width: 445px;
  margin: 0 auto 25px;
  font-size: 21px;
  text-align: center;
}
.block1 .form-block1 .input {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 6.5px;
}
.block1 .form-block1 label {
  position: absolute;
  display: block;
  width: 36px;
  height: 35px;
  top: 1px;
  left: 1px;
}
.block1 .form-block1 label[for=name-block1] {
  background: url('../img/input-name-icon.png') no-repeat center center #ececec;
}
.block1 .form-block1 label[for=phone-block1] {
  background: url('../img/input-phone-icon.png') no-repeat center center #ececec;
}
.block1 .form-block1 label[for=email-block1] {
  background: url('../img/input-email-icon.png') no-repeat center center #ececec;
}
.block1 .form-block1 label[for=code-block1] {
  background: url('../img/input-code-icon.png') no-repeat center center #ececec;
}
.block1 .form-block1 input[type=text],
.block1 .form-block1 input[type=email] {
  width: 162px;
  height: 37px;
  padding-left: 45px;
  border: 1px solid #c8c8c8;
  font-family: 'Arial';
  font-size: 14px;
  color: #424242;
}
.block1 .form-block1 select {
  margin-right: 5px;
  height: 37px;
  width: 75px;
  font-size: 14px;
  color: #2d2d2d;
  padding-left: 10px;
  font-family: 'Arial';
  border: 1px solid #c8c8c8;
  background: url('../img/select-bg.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.block1 .form-block1 input[type=submit] {
  width: 136px;
  height: 37px;
  margin: 0 auto;
  margin-top: 15px;
  display: block;
  background: url('../img/btn-consult-block1.png') no-repeat center center;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 1px 0px #333;
  font-family: 'UbuntuBold';
}
.block1 .form-block1 input[type=submit]:active {
  background: url('../img/btn-consult-block1-h.png') no-repeat center center;
}
.block1 .form-block1 .safe {
  font-size: 10px;
  margin: 15px auto 0;
  text-align: center;
}
.block2 {
  margin-top: -10px;
  background: transparent;
}
.block2 .advantages-three-list {
  position: relative;
  z-index: 10;
  height: 176px;
  background: url('../img/advantages-bg.png') no-repeat center center;
}
.block2 .advantage-p {
  width: 33%;
  padding: 30px 5px 17px 15px;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}
.block2 .advantage-p strong {
  display: block;
  width: 175px;
  height: 38px;
  padding-top: 10px;
  margin: 0 auto;
  background: url('../img/advantage-bg.png') no-repeat center;
  font-size: 15px;
  font-family: 'UbuntuBold';
  text-align: center;
  text-transform: uppercase;
}
.block2 .advantage-p .advantage-desc {
  margin: 10px 0 0;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  text-shadow: 1px 1px 0 #666;
}
.block2 .car1 {
  position: absolute;
  width: 401px;
  height: 126px;
  background: url('../img/car1-bg.png') no-repeat center center;
  z-index: 1;
  left: -115px;
  top: 85px;
}
.block2 h3 {
  font-family: 'UbuntuLight';
  text-align: center;
  font-size: 36px;
  font-weight: lighter;
  margin: 75px 0 0;
}
.block2 .advantages-list {
  margin-top: 65px;
  margin-bottom: 100px;
}
.block2 .advantages-list .to-left,
.block2 .advantages-list .to-right {
  padding-left: 95px;
  width: 50%;
}
.block2 .advantage-single {
  margin-bottom: 15px;
  opacity: 0;
}
.block2 .advantage-single img {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  width: 54px;
  height: 54px;
}
.block2 .advantage-single .advantage-desc {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  width: 325px;
  font-family: 'UbuntuBold';
  font-size: 15px;
  padding-top: 15px;
}
.block2 .advantage-2 .advantage-desc,
.block2 .advantage-7 .advantage-desc {
  padding-top: 7px;
}
.block3 {
  padding-bottom: 80px;
}
.block3 h3 {
  font-family: 'UbuntuLight';
  text-align: center;
  font-size: 36px;
  font-weight: lighter;
  margin: 75px 0 0;
}
.block3 .cars {
  margin-top: 50px;
  text-align: center;
}
.block3 .desc1,
.block3 .desc2 {
  width: 50%;
  margin-top: 50px;
}
.block3 .text-desc {
  margin: 0;
  padding-right: 30px;
  font-size: 16px;
  line-height: 21px;
}
.block3 .to-sale {
  margin-top: 25px;
  padding-right: 30px;
}
.block3 .to-sale .block-title {
  margin: 0 0 12px;
  font-size: 16px;
  font-family: 'UbuntuBold';
}
.block3 .to-sale .box-single:last-child .box-title {
  border: none;
}
.block3 .to-sale .box-title,
.block3 .to-sale .box-price {
  margin: 0;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}
.block3 .to-sale .box-title {
  width: 365px;
  padding: 9px 0;
  font-size: 13px;
  line-height: 18px;
  font-family: 'UbuntuBold';
  color: #4080cf;
  border-bottom: 1px dashed #000;
}
.block3 .to-sale .box-title strong {
  margin-left: 5px;
  color: #e81414;
}
.block3 .to-sale .box-price {
  display: block;
  width: 97px;
  background: #e81414;
  padding: 5px 0;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  font-family: 'UbuntuBold';
  color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.block3 .desc2 .car2 {
  position: absolute;
  z-index: 5;
  width: 284px;
  height: 375px;
  background: url('../img/car2-bg.png') no-repeat center center;
  right: 0;
  top: 0;
  right: -125px;
  top: 270px;
}
.block3 .desc2 .block-title {
  margin: 0;
  font-size: 16px;
  font-family: 'UbuntuBold';
}
.block3 .desc2 .cars-list {
  position: relative;
  z-index: 10;
  margin-top: 15px;
  margin-bottom: 19px;
}
.block3 .desc2 .car-single {
  height: 80px;
  padding: 16px 25px;
  background: #f1f1f1;
  font-size: 13px;
  border-left: 5px solid #267ddd;
}
.block3 .desc2 .car-title,
.block3 .desc2 .car-desc {
  margin: 0;
}
.block3 .desc2 .car-title {
  margin-bottom: 5px;
  font-family: 'UbuntuBold';
  color: #267ddd;
}
.block3 .desc2 .car-desc {
  line-height: 16px;
}
.block3 .desc2 .car-desc span {
  font-family: 'UbuntuBold';
}
.block3 .cars-more {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 13px;
  font-family: 'UbuntuBold';
  text-transform: uppercase;
  color: #fff;
  background: #267ddd;
  text-shadow: 1px 1px 0 #333;
  text-decoration: none;
}
.block3 .clearfix + h4 {
  font-size: 24px;
  text-align: center;
  font-family: 'UbuntuBold';
  margin: 50px auto 30px;
  text-transform: uppercase;
}
.block3 .contacts {
  padding-top: 10px;
  border: 4px solid #e81414;
  text-align: center;
}
.block3 .contacts .phones,
.block3 .contacts .emails,
.block3 .contacts .skype {
  width: 33%;
  min-height: 84px;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  text-align: left;
}
.block3 .contacts .phones p,
.block3 .contacts .emails p,
.block3 .contacts .skype p {
  font-size: 20px;
  margin: 0;
  line-height: 29px;
}
.block3 .contacts .phones {
  width: 31%;
  padding-top: 10px;
  padding-left: 90px;
  background: url('../img/phone-icon.png') no-repeat center left;
}
.block3 .contacts .emails {
  width: 35%;
  padding-top: 10px;
  padding-left: 105px;
  background: url('../img/email-icon.png') no-repeat center left;
}
.block3 .contacts .skype {
  padding-top: 20px;
  padding-left: 120px;
  background: url('../img/skype-icon.png') no-repeat center left;
}
.block5 {
  background: url('../img/block5-bg.jpg') no-repeat center top;
  height: 766px;
  padding-top: 65px;
  overflow-x: hidden;
}
.block5 h3 {
  margin: 0;
  font-family: 'UbuntuLight';
  text-align: center;
  font-size: 36px;
  font-weight: lighter;
  text-transform: uppercase;
}
.block5 .numbers {
  position: relative;
  width: 714px;
  height: 562px;
  margin: 40px auto 0;
  background: url('../img/numbers-bg.png') no-repeat center center;
}
.block5 .line-left,
.block5 .line-right {
  position: absolute;
  width: 330px;
  height: 5px;
  background: #fff;
  top: 345px;
}
.block5 .line-left {
  left: -20%;
}
.block5 .line-right {
  right: -20%;
}
.block5 .car {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -151px;
  width: 302px;
  height: 247px;
  background: url('../img/car-icon.jpg') no-repeat center center;
}
.block5 .clients-number {
  width: 212px;
  position: absolute;
  left: 50%;
  margin-left: -106px;
  top: 40px;
}
.block5 .clients-number .num,
.block5 .clients-number .desc {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}
.block5 .clients-number .desc {
  padding-top: 12px;
}
.block5 .parts-number {
  width: 290px;
  position: absolute;
  left: 50%;
  margin-left: -152.5px;
  bottom: 50px;
}
.block5 .parts-number .num,
.block5 .parts-number .desc {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}
.block5 .parts-number .desc {
  padding-top: 12px;
}
.block5 .sales-number {
  position: absolute;
  width: 145px;
  top: 50%;
  margin-top: -75px;
  left: 40px;
}
.block5 .cars-number {
  position: absolute;
  width: 135px;
  top: 50%;
  margin-top: -75px;
  right: 40px;
}
.block5 .num {
  margin: 0;
  font-size: 54px;
  font-family: 'UbuntuBold';
  color: #ec0808;
  text-shadow: 3px 3px 1px #a80505;
}
.block5 .num:after {
  content: url('../img/oil-icon.png');
  position: absolute;
  top: -25px;
  margin-left: 2px;
}
.block5 .desc {
  margin: 0;
  font-size: 21px;
  line-height: 23px;
  font-family: 'UbuntuBold';
}
.block6 {
  background: #fff;
  padding: 80px 0 40px;
}
.block6 h3 {
  margin: 0;
  font-family: 'UbuntuLight';
  text-align: center;
  font-size: 36px;
  font-weight: lighter;
}
.block6 .work-list {
  margin: 85px auto 55px;
}
.block6 .work-list .line {
  margin-left: 35px;
  margin-top: 5px;
  width: 753px;
  height: 2px;
  background: #267ddd;
}
.block6 .work-list .work-single {
  position: relative;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}
.block6 .work-list .work-single img {
  margin-right: 5px;
}
.block6 .work-list .work-title {
  padding-top: 5px;
  font-size: 17px;
  margin: 0 0 8px;
  color: #267ddd;
  font-family: 'UbuntuBold';
}
.block6 .work-list .work-desc {
  margin: 0;
  font-size: 12px;
  font-family: 'UbuntuLight';
}
.block6 .work-list .pin {
  position: absolute;
  bottom: -11px;
  left: 31px;
  width: 11px;
  height: 11px;
  background: #267ddd;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.block6 .time1,
.block6 .time2,
.block6 .time3 {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  font-size: 13px;
  color: #686868;
  margin: 15px 0;
  font-family: 'UbuntuBold';
}
.block6 .time1 {
  margin-left: 140px;
}
.block6 .time2 {
  margin-left: 200px;
}
.block6 .time3 {
  margin-left: 195px;
}
.block6 .atention {
  text-align: center;
  font-size: 18px;
}
.block7 {
  height: 342px;
  padding-top: 55px;
  background: url('../img/block7-bg.jpg') no-repeat center top;
}
.block7 .block-title {
  margin: 0;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-family: 'UbuntuBold';
}
.block7 .form-block7 {
  text-align: center;
  width: 768px;
  position: relative;
  margin: 25px auto 0;
  padding: 20px 15px 10px;
  background: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  z-index: 10;
}
.block7 .form-block7 .form-title {
  width: 445px;
  margin: 0 auto 25px;
  font-size: 21px;
  text-align: center;
}
.block7 .form-block7 .input {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 6.5px;
}
.block7 .form-block7 label {
  position: absolute;
  display: block;
  width: 36px;
  height: 35px;
  top: 1px;
  left: 1px;
}
.block7 .form-block7 label[for=name-block7] {
  background: url('../img/input-name-icon.png') no-repeat center center #ececec;
}
.block7 .form-block7 label[for=phone-block7] {
  background: url('../img/input-phone-icon.png') no-repeat center center #ececec;
}
.block7 .form-block7 label[for=email-block7] {
  background: url('../img/input-email-icon.png') no-repeat center center #ececec;
}
.block7 .form-block7 label[for=code-block7] {
  background: url('../img/input-code-icon.png') no-repeat center center #ececec;
}
.block7 .form-block7 input[type=text],
.block7 .form-block7 input[type=email] {
  width: 162px;
  height: 37px;
  padding-left: 45px;
  border: 1px solid #c8c8c8;
  font-family: 'Arial';
  font-size: 14px;
  color: #424242;
}
.block7 .form-block7 select {
  margin-right: 5px;
  height: 37px;
  width: 75px;
  font-size: 14px;
  color: #2d2d2d;
  padding-left: 10px;
  font-family: 'Arial';
  border: 1px solid #c8c8c8;
  background: url('../img/select-bg.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.block7 .form-block7 input[type=submit] {
  width: 136px;
  height: 37px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  background: url('../img/btn-consult-block1.png') no-repeat center center;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 1px 0px #333;
  font-family: 'UbuntuBold';
}
.block7 .form-block7 input[type=submit]:active {
  background: url('../img/btn-consult-block1-h.png') no-repeat center center;
}
.block7 .form-block7 .safe {
  font-size: 10px;
  margin: 15px auto 0;
  text-align: center;
}
.block8 {
  position: relative;
  height: 280px;
  overflow-x: hidden;
}
.block8 .map {
  z-index: 10;
  top: 0;
  left: 0;
}
.block8 .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.block8 .triangle-top {
  width: 204px;
  height: 77px;
  margin: -1px auto 0;
  background: url('../img/arrow-down-dark.png') no-repeat center center;
}
.block8 .triangle-top p {
  margin: 0;
  padding-top: 15px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.block8 .triangle-bottom {
  width: 204px;
  height: 77px;
  margin: 4px auto 0;
  background: url('../img/arrow-up-dark.png') no-repeat center center;
}
.block8 .triangle-bottom p {
  margin: 0;
  padding-top: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.block8 .address-bottom {
  width: 310px;
  padding: 11px 15px;
  margin: 5px auto 0;
  border: 2px solid #ec0808;
  background: rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 23px;
}
.block8 .address-bottom strong {
  font-family: 'UbuntuBold';
}
.block9 .soc {
  margin-top: 15px;
}
.block9 .soc a {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  width: 31px;
  height: 31px;
}
.block9 .soc a:hover {
  opacity: 0.8;
}
.block9 .soc .fb {
  background: url('../img/fb-icon.png') no-repeat center center;
}
.block9 .soc .tw {
  background: url('../img/tw-icon.png') no-repeat center center;
}
.block9 .soc .od {
  background: url('../img/od-icon.png') no-repeat center center;
}
.block9 .soc .gp {
  background: url('../img/gp-icon.png') no-repeat center center;
}
.block9 .soc .vk {
  background: url('../img/vk-icon.png') no-repeat center center;
}
.block9 .phone1,
.block9 .phone2 {
  margin: 20px 0 0;
  font-size: 26px;
  font-family: 'UbuntuBold';
}
.block9 .phone1 span,
.block9 .phone2 span {
  font-size: 12px;
  margin-right: 5px;
}
.block9 .phone1 {
  margin-left: 60px;
}
.block9 .triangle-grey {
  margin-left: 14px;
  width: 204px;
  height: 77px;
  background: url('../img/arrow-down-grey.png') no-repeat center center;
}
.block9 .triangle-grey p {
  margin: 0;
  font-size: 17px;
  padding-top: 5px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'UbuntuBold';
}
#thanks {
  position: relative;
  margin: 0 auto;
  width: 510px;
  padding: 40px;
  background: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
#thanks p.form-title {
  font-size: 20px;
  text-align: center;
  font-family: 'UbuntuBold';
}
#thanks p.form-title span {
  color: #35a712;
}
#call {
  position: relative;
  margin: 0 auto;
  width: 290px;
  padding: 25px 10px;
  background: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
#call .form-title {
  width: 100%;
  margin: 0 auto 25px;
  font-size: 21px;
  text-align: center;
}
#call .input {
  position: relative;
  margin-bottom: 10px;
}
#call label {
  position: absolute;
  display: block;
  width: 36px;
  height: 35px;
  top: 1px;
  left: 1px;
}
#call label[for=name-popup] {
  background: url('../img/input-name-icon.png') no-repeat center center #ececec;
}
#call label[for=phone-popup] {
  background: url('../img/input-phone-icon.png') no-repeat center center #ececec;
}
#call label[for=email-popup] {
  background: url('../img/input-email-icon.png') no-repeat center center #ececec;
}
#call input[type=text],
#call input[type=email] {
  width: 100%;
  height: 37px;
  padding-left: 45px;
  border: 1px solid #c8c8c8;
  font-family: 'Arial';
  font-size: 14px;
  color: #424242;
}
#call select {
  margin-right: 5px;
  height: 37px;
  width: 75px;
  font-size: 14px;
  color: #2d2d2d;
  padding-left: 10px;
  font-family: 'Arial';
  border: 1px solid #c8c8c8;
  background: url('../img/select-bg.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
#call input[type=submit] {
  width: 100%;
  height: 37px;
  background: url('../img/btn-consult-block1.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 1px 0px #333;
  font-family: 'UbuntuBold';
}
#call input[type=submit]:active {
  background: url('../img/btn-consult-block1-h.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
#call .safe {
  font-size: 10px;
  margin: 15px auto 0;
  text-align: center;
}
button.mfp-close {
  position: absolute;
  right: -18px;
  top: -18px;
  line-height: 0;
  color: #fff !important;
  font-size: 22px;
  display: block;
  width: 18px;
  height: 18px;
  background: #4080cf;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
button.mfp-close:active {
  right: -18px;
  top: -18px;
}
.block1,
.block2,
.block3,
.block4,
.block5,
.block6,
.block7,
.block8,
.block9 {
  width: 100%;
  min-width: 1000px;
}
@media screen and (max-width: 1400px) {
  .block1 .container-lg {
    width: 1000px;
  }
  .block1 .top-title {
    width: 233px;
    margin: 0;
    margin-top: 5px;
    margin-left: 15px;
    font-family: 'UbuntuBold';
    font-size: 16px;
  }
  .block1 .top-contacts .phones {
    margin-top: -20px;
    margin-left: 45px;
    text-align: center;
    font-family: 'UbuntuBold';
  }
  .block1 .top-contacts .phone {
    margin: 0;
    font-size: 18px;
  }
}
